<div class="container text-center">
  <header>
  <div class="text-center">
      <h2 style="margin:10px;padding:10px;"><span style="color:blue">G</span><span style="color:red">o</span><span style="color:yellow">o</span><span
          style="color:blue">g</span><span style="color:blue">l</span><span style="color:red">e</span></h2>
    </div>
  </header> 
    <div class="text-center">
      <h4 style="padding:5px;">Sign in</h4>
    </div>
    <div class="text-center">
      <p style="padding: 10px;">with your Google Account</p>
    </div>
    <div class="text-center" style="padding:10px;">
      <input type="email" placeholder="Email or Phone" style="width:450px;padding:5px;">
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <a href="#" style="padding:10px;margin-right:100px;">More options</a>
      </div>
      <div class="col-6 text-center">
        <button class="btn-block bg-primary " style="margin-left:120px;width: 90px; border-radius: 3px; color:white;">Next</button>
      </div>
    </div>
    <footer>
    <div class="row text-center" style="padding: 30px;">
      <div class="col-4">
        <a class="nav-link dropdown-toggle co" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false" style="margin-left:100px;color:black">English(United States)</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" style="color:black">Engligh(UK)</a>
          <a class="dropdown-item" href="#" style="color:black">English(US)</a>
          <a class="dropdown-item" href="#" style="color:black">Something else here</a>
        </div>
      </div>
      <div class="col-8 text-center">
        <a href="#" style="color: black;padding:5px;">Help</a>
        <a href="#" style="color: black;padding:5px;">Privacy</a>
        <a href="#" style="color: black;">Terms</a>
        </div>
      </div>
    </footer>
    </div>
  